[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
numpy = "*"
pillow = "*"
pytest = "*"
asciiarttools = {version = "==0.0.3", index = "pypi"}

[dev-packages]

[requires]
python_version = "3"
